<div class="container">
	<div class="row">
		<div class="col-la-2">
			<div>
				<ul class="list=group">
					<%= erb :_count_due, locals: {title: "トップ", url: "/", tasks: Task.all} %>
					<li class="list-group-item"><a href="/tasks/done">done</a></li>
					<%= erb :_count_due, locals: {title: "締め切り過ぎた", url: "/tasks/over", tasks: Task.all} %>
					<% @lists.each do |list| %>
						<%= erb :_count_due, locals: {title: list.name, url: "/?list=#{list.id}", tasks: list.tasks} %>
					<% end %>
				</ul>
			</div>
			<div class="col-lg-10">
				<table class="table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>タイトル</th>
							<th>締め切り</th>
							<th>Done</th>
							<th>削除</th>
							<th>編集</th>
							<th>備考</th>
							<th>重要?</th>
						</tr>
					</thead>
					<tbody>
						<% @tasks.each do |task| %>
							<tr>
								<td><%= CGI.escapeHTML(task.title) %></td>
								<td><%= task.due_date %></td>
								<td>
									<% unless task.completed %>
										<form action="/tasks/<%= task.id %>/done" method="POST">
											<input type="submit" value="Done!">
										</form>
									<% else %>
										Done!
									<% end %>
								</td>
								<td>
									<form action="/tasks/<%= task.id %>/delete" method="post">
										<input type="submit" value="削除">
									</form>
								</td>
								<td><a href="/tasks/<%= task.id %>/edit">編集</a></td>
								<td>
									<% unless task.completed %>
										<% if task.remaind_days < 0 %>
											締切過ぎた
										<% elsif task.remaind_days  == 0%>
											今日締切
										<% elsif task.remaind_days  < 7 %>
											締切近い
										<% end %>
									<% end %>
								</td>
								<td>
									<a href="/tasks/<%= task.id %>/star" style="
										<% if task.star %>
											background-color:red;
										<% else %>
											background-color:while;
										<% end %>
										border: 1px solid black;
										width: 10px;
										height: 10px;
										display: block;
										"></a>
								</td>
							</tr>
						<% end %>
						<tr><td colspan="6"><a href="/tasks/new">新しいtodo</a></td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>